[GPortal]
user=
pw=

# optional - leave it empty if you do not want to use discord notifications
[DiscordWebhook]
webhook=

[Logging]
# Debug, Info, Warning, Error, Critical
loglevel=Debug

# create a section for each server
[Server1]
GUID=
restartURL=

[Server2]
GUID=
restartURL=
